In [60]:
#Criar um modelo que preveja se os passageiros do titanic sobreviveram ou morreram
import pandas as pd
import numpy as np
import sklearn

In [61]:
test = pd.read_csv('test.csv')
train = pd.read_csv('train.csv')
gabarito = pd.read_csv('gender_submission.csv')
test = test.fillna(-1)
train = train.fillna(-1)
gabarito = gabarito.fillna(-1)

In [62]:
#Variáveis X: Pclass, Sex, Age, SibSp, Parch
train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,-1,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,-1,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,-1,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,-1,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,-1.0,1,2,W./C. 6607,23.4500,-1,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,-1,Q

In [67]:
train['Sex'] = train['Sex'].replace('male', 0)
train['Sex'] = train['Sex'].replace('female', 1)
test['Sex'] = test['Sex'].replace('male', 0)
test['Sex'] = test['Sex'].replace('female', 1)
train['Sex']

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    1
889    0
890    0
Name: Sex, Length: 891, dtype: int64

In [68]:
y_train=train['Survived'] #Criei a nova variável y_train e coloquei nela a coluna Survived do df train
x_train=train.filter(['Pclass', 'Sex', 'Age', 'SibSp', 'Parch'], axis=1) #Criei a nova variável x_train e coloquei nela as colunas Pclass sex age SibSp e Parch
y_train.value_counts()

0    549
1    342
Name: Survived, dtype: int64

In [72]:
from sklearn.ensemble import RandomForestClassifier
modelo = RandomForestClassifier(n_jobs=-1)

In [73]:
modelo.fit(x_train,y_train) #Treinando o modelo

RandomForestClassifier(n_jobs=-1)

In [79]:
x_test = test.filter(['Pclass', 'Sex', 'Age','SibSp', 'Parch'], axis=1)
p = modelo.predict(x_test) #aplicando o modelo
pindex = pd.Series(p, index=test['PassengerId'], name='Survived')
pindex.to_csv('pindex-v2.csv', header=True) #exportando os palpites

In [80]:
#Para a etapa de validação do modelo, vou dividir o conjunto de dados do treino
from sklearn.model_selection import train_test_split
x_train, x_valid, y_train, y_valid = train_test_split(x_train, y_train, test_size=0.5)
x_train.shape, x_valid.shape, y_train.shape, y_valid.shape

((445, 5), (446, 5), (445,), (446,))

In [93]:
modelo.fit(x_train,y_train)
modelo.score(x_valid,y_valid)

0.7914798206278026